h1   {color: #fff;}
.container-1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    align-self: center;
}

.container-1 input {
    color: #000;
    flex-basis: 20%;
}

ul{
    list-style-type: none
}

.container-2{
    display: flex;
    flex-wrap: wrap;
    min-width: 90%;
    height: auto;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.container-2 .box{
    color: #000;
    flex-basis: 22%;
    background: #fff;
    margin: 10px;
    font-family: Righteous;
}