<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; font-family: 'Righteous';font-size: 150%;padding:0.2em;">
  <h1>
    Blood Diary
  </h1>
</div>
<mat-card class="container-1">
  <input type="text" [(ngModel)]="name" name="name" placeholder="Name">
  <input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone">
  <input type="text" [(ngModel)]="group" name="ggroup" placeholder="group">
  <input type="submit" value="Add a donor" (click)="addDonor()">
</mat-card>
<ul class="container-2">
  <li *ngFor="let donor of donors | async" class="box">
    <mat-card>
      <strong>{{ donor.name }}</strong>
      <br>
      <strong>{{ donor.group}}</strong>
      <br> {{donor.phone}}
    </mat-card>
  </li>
</ul>