h1   {color: maroon;}
.container-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    align-self: center;
}

.container-1 input {
    background:#fff;
    color: #000;
    flex-basis: 15%;
    
}

ul{
    list-style-type: none
}

.container-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    align-self: center;
    justify-content: center;
}

.container-2 .box{
    color: #000;
    flex-basis: 22%;
    background: #fff;
    margin: 5px;
    font-family: Righteous;
}