h1   {color: white;}
.donorcard{
    color: black;
    margin: 20;
    width: 100%;
    padding: 10px 10px; overflow:auto;
    font-family: Righteous;
    font-size: 120%;
    height: auto;
    text-align: center;
    text-transform: uppercase;

}
input[type='submit'] {
    background-color:#fff;
    cursor:pointer;
    color:#000;
    font-weight:bold;
    margin-bottom:50px;
    padding:20px;
}

input {
    display:block;
    width: 100%;
    margin-bottom:15px;
    padding:10px;
    font-size:120%;

    background:none;
    border-bottom: 1px solid #414a59 !important;
    border:0;
    color:#fff;
}

.example-container {
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

.center-div
{
    margin: auto;
    width: 70%;
    padding: 25px;
    font-family: Righteous;
    overflow: auto
}
